:root{
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

header {
    margin-top: 30px;
    display: flex;
}
  
.hrefs {
    margin-left: 60px;
    padding: 5px;
    color: var(--primary);
    text-decoration: none;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

.hrefs:hover {
    color: #e08079;
}
.list li{
  list-style-type: none;
  display: inline;
}
.list{
  flex:4;
}
.folders{
  flex: 1;
}
.folders li{
  list-style-type: none;
  padding: 7px;
}
.folderlist{
  color: #e08079;
  text-decoration: none;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
}


.about {
    margin-top: 50px;
}
  
.about h1 {
    padding: 20px;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary);
    font-size: 35px;
}
  
.about p {
    font-size: 25px;
}
  
.about h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    color: var(--primary);
    font-size: 30px;
    padding: 20px;
}